<div class="wrapper">
  <div class="input-group mb-3 mt-3">
    <i class="bi bi-search search-icon"></i>
    <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button> -->
    <input
      type="text"
      class="form-control search-input"
      placeholder=""
      name="filter"
      id="filter"
      (keyup)="filter($event)"
      placeholder="filter"
    />
  </div>
  <div [@staggerAnim]>
    <div class="openclose" *ngFor="let note of filteredNotes" [@openClose]>
      <div class="card mb-1">
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">
            {{ note.description }}
          </p>
          <div class="mb-2">
            <button class="btn btn-info" type="button" (click)="editNote(note)">
              <i class="bi mr-1 bi-pencil-square"></i>Edit
            </button>
            <button
              class="btn btn-danger ml-4"
              type="button"
              (click)="deleteNote(note)"
            >
              <i class="bi mr-1 bi-trash-fill"></i>Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    (click)="addNote()"
    class="add-note-btn btn btn-primary w-100"
    type="button"
  >
    Add Note
  </button>
</div>
